container {
    padding-right: auto;
    padding-left: auto;
    text-align: center;
    
}
.header {
text-align: center;
}
a {
  color:  #16a085;
  text-decoration: none;
  margin-left: 50px;
  margin-right:50px;
}
nav {
  margin-top: 30px;
  margin-bottom: 30px;
  }
.top-img {
width: 100 %;
}
img {
  width: 100 %;  
}
.button {
margin:0 auto;
border-radius: 3px;
color: white;
background-color:  #16a085;
width: 192px;
height: 51px;
}
h1 {
text-align: center;
}
p {
text-align: center;
}
.copyright {
  font-size: 16px;
text-align: right;
margin-right: 60px;
}
